<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <variable name="ExceptionMsg" value="${exception:format=type,message,method:maxInnerExceptionLevel=8:innerFormat=shortType,message,method}" />
  <variable name="BasicLayout" value="${time} [${threadid}] [${level:uppercase=true}] - ${message} " />
  <variable name="ErrorLayout" value="${BasicLayout} ${ExceptionMsg}" />
  <variable name="FilePath" value="${basedir}/Logs/${shortdate}" />
  <targets>
    <target name="Console" xsi:type="Console" />
    <target name="Debugger" xsi:type="Debugger" layout="${date:format=HH\:mm\:ss.fff}: ${message}" />
    <target name="LogFile" xsi:type="File" fileName="${FilePath}.txt" maxArchiveFiles="30" layout="${BasicLayout}" />
    <target name="ErrorFile" xsi:type="File" fileName="${FilePath}_error.txt" maxArchiveFiles="30" layout="${ErrorLayout}" />
  </targets>
  <rules>
    <!--<logger name="*" writeTo="console" />-->
    <logger name="*" minlevel="Debug" writeTo="Debugger" />
    <logger name="*" minlevel="Trace" writeTo="LogFile" />
    <logger name="*" minlevel="Error" writeTo="ErrorFile" />
  </rules>
</nlog>