@{
    ViewData["Title"] = "Home Page";
}
<div id="app">

    <div class="page__hd">
        <h1 class="page__title">
            GuoHao.WebUI
        </h1>
        <p class="page__desc">WeUI 是一套同微信原生视觉体验一致的基础样式库，由微信官方设计团队为微信内网页和微信小程序量身设计，令用户的使用感知更加统一。</p>
    </div>
    
    <div class="weui-cells">

        <div class="weui-cells">
            <div class="weui-cell weui-cell_select">
                <div class="weui-cell__bd">
                    <select class="weui-select" v-model="hosId" v-on:change="changeHos">
                        <option selected="" value="0">选择医院</option>
                        <option v-for="(item,index) in hosList" :value="item.id+'-'+item.hospitalType">{{item.name}}</option>
                    </select>
                </div>
            </div>
            <div class="weui-cell weui-cell_select">
                <div class="weui-cell__bd">
                    <select class="weui-select" v-model="catId">
                        <option value="0">选择科室</option>
                        <optgroup v-for="(item,index) in catList" :value="item.id" :label="item.sdCategoryFirstName">
                            <option v-for="(sitem,sindex) in item.departments" :value="sitem.id">{{sitem.name}}</option>
                        </optgroup>
                    </select>
                </div>
            </div>
            <div class="weui-cell weui-cell_select">
                <div class="weui-cell__bd">
                    <select class="weui-select" v-model="orderDate">
                        <option value="0">选择日期</option>
                        <option v-for="item in dateList">{{item}}</option>
                    </select>
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd"><label class="weui-label" style="font-weight:normal;">挂号时间</label></div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="text" placeholder="07:00" v-model="orderTime">
                </div>
            </div>
            <div class="weui-cell weui-cell_select">
                <div class="weui-cell__bd">
                    <select class="weui-select" v-model="sxw" v-on:change="changeSXW">
                        <option value="0">选择上午下午</option>
                        <option v-for="item in sxwList" :value="item.Id">{{item.Name}}</option>

                    </select>
                </div>
            </div>
            <div class="weui-cell weui-cell_select">
                <div class="weui-cell__bd">
                    <select class="weui-select" v-model="docId">
                        <option value="0">选择大夫</option>
                        @*item.doctorName+','+item.doctorTitleName+'余'+item:remainAvailableNumber+''+item.totalFee*@
                        <option v-for="item in docList" :value="item.doctorId">{{item.doctorName+','+item.doctorTitleName+' 余'+item.remainAvailableNumber+' ￥'+item.totalFee}}</option>
                    </select>
                </div>
            </div>
            <div class="weui-cell weui-cell_select">
                <div class="weui-cell__bd">
                    <select class="weui-select" v-model="bxId">
                        <option value="-1">选择报销类型</option>
                        <option v-for="item in bxList" :value="item.id">{{item.name}}</option>
                    </select>
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd"><label class="weui-label"  style="font-weight:normal;">病人Id</label></div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="number" pattern="[0-9]*" v-model="patientId" placeholder="请输入病人Id">
                </div>
            </div>
        </div>
        <div class="login-btn-container">
            <a href="javascript:;" v-on:click="saveTPL" class="weui-btn weui-btn_primary">保存模版下一步</a>
        </div>

        <div class="js_dialog" v-show="alertShow">
            <div class="weui-mask"></div>
            <div class="weui-dialog">
                <div class="weui-dialog__bd">{{alertMSG}}</div>
                <div class="weui-dialog__ft">
                    <a href="javascript:;" v-on:click="hideAlert" class="weui-dialog__btn weui-dialog__btn_primary">知道了</a>
                </div>
            </div>
        </div>

    </div>



</div>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            hosId: '0',
            hosList: [],
            catId:'0',
            catList: [],
            orderDate: '0',
            orderTime:'07:00',
            dateList: [],
            sxw: '0',
            sxwList: [{ Id: '1', Name: '上午' }, { Id: '2', Name: '下午' }],
            docId: '0',
            docList: [],
            bxId: '-1',
            bxList: [
                { id: '1', name: '医疗保险' },
                { id: '2', name: '商业保险' },
                { id: '3', name: '公费医疗' },
                { id: '4', name: '新农合' },
                { id: '5', name: '异地医保' },
                { id: '6', name: '红本医疗' },
                { id: '7', name: '工伤' },
                { id: '8', name: '一老一小' },
                { id: '9', name: '超转' },
                { id: '10', name: '自费' },
                { id: '11', name: '生育险' },
                { id: '12', name: '其他' },
            ],
            patientId: '',
            alertShow: false,
            alertMSG:''
        },
        mounted: function () {
            this.getHospitalList();
            this.initDateList();

        },
        methods: {
            getHospitalList: function () {
                var that = this;
                $.ajax({
                    url: '/Home/HostpitalList',
                    type: 'post',
                    success: function (res) {
                        if (res.code == 0) {
                            that.hosList = JSON.parse(res.data).data;
                            
                            console.log(JSON.parse(res.data).data);
                        }
                    }
                })
            },
            changeHos: function () {
                var that = this;
                var hid = that.hosId.split('-')[0];
                var htype = that.hosId.split('-')[1];
                $.ajax({
                    url: '/Home/CategoryList',
                    type: 'post',
                    data: { hid: hid, htype: htype},
                    success: function (res) {
                        if (res.code == 0) {
                            that.catList = JSON.parse(res.data).data;
                            that.catId = '0';
                        }
                    }
                })
            },

            changeSXW: function () {
                var that = this;
                var hid = that.hosId.split('-')[0];
                $.ajax({
                    url: '/Home/DoctorList',
                    type: 'post',
                    data: { hid: hid, did: that.catId, sxw: that.sxw, date: that.orderDate },
                    success: function (res) {

                        that.docId = '0';
                        if (res.code == 0) {
                            if (res.data.length == 0) {
                                that.alertMSG = "没有大夫可以约，请换其他日期。";
                                that.alertShow = true;
                            }
                            that.docList = res.data;
                            console.log(res.data);
                            
                        } else { 
                            alert(res.data);

                        }
                    }
                })
            },
            saveTPL: function () {
                var that = this;
                var hosObj = that.hosList.find(function (item) { return item.id == that.hosId.split('-')[0] });

                var allCatList = [];
                that.catList.forEach(function (item) {
                    item.departments.forEach(function (sitem) { 
                        allCatList.push(sitem);
                    });
                 });
                
                var catObj = allCatList.find(function (item) { return item.id == that.catId });
                var docObj = this.docList.find(function (item) { return item.id = that.docId });
                var sxwVal = that.sxw == '1' ? '上午' : '下午';
                var name = hosObj.name + '/' + catObj.name + '/' + that.orderDate + '/' + sxwVal + '/' + docObj.doctorName + '/' + that.orderTime;
                //string dutySourceId,string hospitalId,string departmentId,string doctorId,string patientId,string reimbursementType,string smsVerifyCode, string cookieValue, string hospitalCardId = "", string medicareCardId = "", string childrenBirthday="", string dlRegType="-1", string dlMajorId="",string mapDoctorId=""
                var para = docObj.dutySourceId + '-' + docObj.hospitalId + '-' + docObj.departmentId + '-' + docObj.doctorId + '-' + that.patientId + '-' + that.bxId + '-' + that.sxw;
                $.ajax({
                    url: '/Home/SaveGuaHaoTPL',
                    type: 'post',
                    data: { name:name, para: para},
                    success: function (res) {
                        
                        if (res.code == 0) {
                            console.log('save ok');
                            //window.location.href = "Run";

                        } else {
                            alert(res.data);

                        }
                    }
                })
            },
            hideAlert: function () {
                this.alertShow = false;
            },
            initDateList: function () {
                var dtNow = new Date();
                this.orderDate = '0';// this.formateDate(dtNow)
                for (var i = 1; i <= 7; i++) {
                    var cdate = dtNow.getDate() + 1;
                    dtNow.setDate(cdate);
                    this.dateList.push(this.formateDate(dtNow));
                }
            },

            formateDate:function (dt) {
                var year = dt.getFullYear();
                var month = ('0' + (dt.getMonth() + 1)).substr(-2);
                var date = ('0' + dt.getDate()).substr(-2);
                return year + "-" + month + "-" + date;
            }
        }
    })


</script>